extends base.pug
block title 
    title Welcome

block container
    
    .container
         .row
            .col-md-6
                h1.text-center.mt-5.mb-5.display-4 Clientes
                .card
                    .card-header
                        h4.card-title.text-center Titulo
                    .card-body
                        .row
                            .col-md-12
                                .form-group
            .col-md-6
                h1.text-center.mt-5.mb-5.display-4 Municipios
                .card
                    .card-header
                        h4.card-title.text-center Titulo
                    .card-body
                        .row
                            .col-md-12
                                .form-group
